

<h1>Listado de productos</h1>

<form method="post">
    @Html.AntiForgeryToken()
    <input type="text" name="direccion" class="form-control" placeholder="Direccion de envio" />

    <button type="submit" class="btn btn-info">Realizar pedido</button>


    <ul>
        <li>
            <input type="checkbox" name="producto" class="form-check" value="Tesla 80000" />Tesla 80000€
        </li>
        <li>
            <input type="checkbox" name="producto" class="form-check" value="IPhone 21 8000" />IPhone 21 8000€
        </li>
        <li>
            <input type="checkbox" name="producto" class="form-check" value="Ferrari 250000" />Ferrari 250000€
        </li>
        <li>
            <input type="checkbox" name="producto" class="form-check" value="Ordenador Portatil 1200" />Ordenador Portatil 1200€
        </li>
    </ul>
</form>



