

<h1 style="color:red">No tienes permisos para acceder</h1>

<h1 style="color:blue">No ha iniciado sesion en la app</h1>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcolorlib.com%2Fwp%2Fwp-content%2Fuploads%2Fsites%2F2%2F404-error-template-3.png&f=1&nofb=1&ipt=923f8135bf4b1a14861d8db17d12455a4f80c159d912bd3a03b46e2e4a9d2899&ipo=images" style="width: 100%"/>



