



<h1>Log in User</h1>




<form method="post">
    <input type="text" name="usuario" class="form-control" placeholder="Usuario" />
    <input type="password" name="password" class="form-control" placeholder="Password" />

    <button type="submit" class="btn btn-primary">Log in</button>
</form>

<h2 style="color:red">@ViewData["MENSAJE"]</h2>


